* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  color: #5d6063;
  background-color: #eaedf0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header section */
.header {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  margin: 40px 0;
  padding: 50px;
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

/* Form */
.container-form {
  display: flex;
  justify-content: center;
  min-width: 100%;

  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
}

.form-row {
  margin: 40px 0;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
  /* Remove default red glow in Firefox */
}

/* Radio buttons section */

.legacy-form-row {
  border: none;
  margin-bottom: 40px;
}

.legacy-form-row legend {
  margin-bottom: 15px;
}

.legacy-form-row .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.legacy-form-row input[type='radio'] {
  margin-top: 2px;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
  float: left;
}

/* Dropdown menu */
.form-row select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  /*     This won't work in Chrome or Safari */
  -webkit-appearance: none;
  /* This will make it work */
}

/* Text area */

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form-row .instructions {
  color: #999999;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-row .checkbox-label {
  margin-bottom: 0;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}